<!DOCTYPE html>
<html style="background-color: #fff;" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Como Funciona</title>
    <link rel="stylesheet" href="/Animalicis/static/css/normalize.css">
    <link rel="stylesheet" href="/Animalicis/static/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/Animalicis/static/css/style.css">
</head>
<body>
    <div class="articuloInfo">
        <h4>INFORMACIÓN</h4>
    </div>
    <header class="header-site stickyBar">
        <div class="logo">
            <a href="/index.html"><h2>Animalis Amicis</h2></a>
        </div>
        <div class="redes-sociales">
            <div>
                <a href="http://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
                <a href="http://twitter.com"><i class="fab fa-twitter"></i></a>
                <a href="http://instagram.com"><i class="fab fa-instagram"></i></a>
            </div>
            <div>
                <a href="http://pinterest.com"><i class="fab fa-pinterest-p"></i></a>
                <a href="http://youtube.com"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
        <div class="botonesHeader">
            <ul class="navMenu">
                <li>
                    <a href="">Refugios</a>
                    <ul class="subMenu">
                        <li><a href="">Refugios de Canes</a></li>
                        <li><a href="">Refugios de Felinos</a></li>
                        <li><a href="">Refugios Mixtos</a></li>
                        <li><a href="">Mapa de Refugios</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">Funcionamiento</a>
                </li>
                <li>
                    <a href="">Consejos</a>
                    <ul class="subMenu">
                        <li><a href="">Adoptar un perro</a></li>
                        <li><a href="">Adoptar un gato</a></li>
                        <li><a href="">Adoptar otros</a></li>
                        <li><a href="">Refugios</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">Social</a>
                    <ul class="subMenu">
                        <li><a href="">Facebook</a></li>
                        <li><a href="">Twitter</a></li>
                        <li><a href="">Instagram</a></li>
                        <li><a href="">Youtube</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">Contacto</a>
                </li>
            </ul>
            <div class="loginHeaderDesktop">
                <p onclick="visibleLogin()">Login/Singup</p>
                <i onclick="visibleLogin()" class="fas fa-user"></i>
            </div>
        </div>
    </header> <!-- FIN DEL HEADER -->
    <main style="color: rgb(70, 70, 70);">
        <h1 class="articuloTitulo">¿Como Funciona?</h1>
        <p class="articuloIntroduccion">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit ex tempore asperiores vero ea totam nostrum doloremque odio omnis repudiandae voluptatem vitae nemo vel suscipit, provident atque repellat? Natus, itaque!</p>
        <div class="moldeArticulo">
            <div class="articuloImgP">
                <img src="/Animalicis/static/image/articuloImagenP2.png" alt="">
            </div>
            <div class="articuloTexto">
                <p>Vestibulum ullamcorper convallis ultricies. Cras tristique, orci ut ornare suscipit, magna lorem faucibus velit, non consequat tortor eros at ligula. Vivamus auctor iaculis tempor. Duis nec ipsum commodo, fermentum leo in, viverra eros. Aliquam imperdiet risus at mi volutpat, non maximus arcu molestie. Proin mattis accumsan diam vitae convallis. Morbi varius convallis risus eget cursus.</p>
                <p>Vivamus ullamcorper efficitur dignissim. In porttitor tellus eget commodo semper. Sed massa erat, ultricies et ultrices vel, mollis vitae dui. Quisque mollis non tortor in maximus. Donec eget cursus nisl. Quisque at facilisis arcu. Nullam finibus, quam ut consequat vehicula, ex diam mattis ipsum, et maximus dolor lacus in mi. Vestibulum ante magna, venenatis ut mauris in, tempor eleifend nisi. Sed tincidunt fringilla enim, id dictum nisl finibus ornare. In eget imperdiet nisl. Sed sed purus sed sem accumsan laoreet. Quisque laoreet eget ex pharetra finibus. Pellentesque justo ligula, vestibulum in accumsan vitae, finibus quis neque. Duis laoreet pharetra faucibus.</p>
            </div>
            <div class="articuloImgG">
                <img src="/Animalicis/static/image/articuloImagenG.png" alt="">
            </div>
        </div>
    </main>
    <footer>
        <p>Página realizada en el marco del Proyecto B_it de la Cámara Uruguaya de Tecnología e Información</p>
        <p>2020</p>
    </footer>
</body>