<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mi perfil</title>
    <link rel="stylesheet" href="CSS\normalize.css.css">
    <link rel="stylesheet" href="CSS\all.css">
    <link rel="stylesheet" href="CSS\styleJuana.css">
    
   <link href="https://fonts.googleapis.com/css?family=Montserrat|Signika|Sriracha&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <script src="jsJuana.js"></script>
</head>

<body>

  <header class="header-site">
    <div class="logo">
        <a href="/index.html"><h2>Animalis Amicis</h2></a>
    </div>
    <div class="redes-sociales">
        <div>
            <a href="http://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
            <a href="http://twitter.com"><i class="fab fa-twitter"></i></a>
            <a href="http://instagram.com"><i class="fab fa-instagram"></i></a>
        </div>
        <div>
            <a href="http://pinterest.com"><i class="fab fa-pinterest-p"></i></a>
            <a href="http://youtube.com"><i class="fab fa-youtube"></i></a>
        </div>
    </div>
    <div class="botonesHeader">
        <ul class="navMenu">
            <li>
                <a href="">Refugios</a>
                <ul class="subMenu">
                    <li><a href="">Refugios de Canes</a></li>
                    <li><a href="">Refugios de Felinos</a></li>
                    <li><a href="">Refugios Mixtos</a></li>
                    <li><a href="">Mapa de Refugios</a></li>
                </ul>
            </li>
            <li>
                <a href="">Funcionamiento</a>
            </li>
            <li>
                <a href="">Consejos</a>
                <ul class="subMenu">
                    <li><a href="">Adoptar un perro</a></li>
                    <li><a href="">Adoptar un gato</a></li>
                    <li><a href="">Adoptar otros</a></li>
                    <li><a href="">Refugios</a></li>
                </ul>
            </li>
            <li>
                <a href="">Social</a>
                <ul class="subMenu">
                    <li><a href="">Facebook</a></li>
                    <li><a href="">Twitter</a></li>
                    <li><a href="">Instagram</a></li>
                    <li><a href="">Youtube</a></li>
                </ul>
            </li>
            <li>
                <a href="">Contacto</a>
            </li>
        </ul>
        <div class="loginHeaderDesktop">
            <p onclick="visibleLogin()">Login/Singup</p>
            <i onclick="visibleLogin()" class="fas fa-user"></i>
        </div>
    </div> 
</header>

  <main>
    <div class="mainContainer "> 
          <div class="alinear">
          <h3 > Mis animales encontrados</h3>

          <img src="image\perro1.jpg" style="width:150px;height:200px" class="fotosSubidas responsive"> 
          <img src="image\perro2.jpg" style="width:150px;height:200px" class="fotosSubidas responsive"> 
          <img src="image\perro3.jpg" style="width:150px;height:200px" class="fotosSubidas responsive">

          <p> Si encontraste otro animal y queres darlo en adopción, hace click <span style="font-family: Signika;"><a href="" class="linksP"> aqui</a></p> </span> <br>  
          <p> Si adoptar otro animal, hace click <span style="font-family: Signika;"><a href="" class="linksP"> aqui</a></p> </span>  
        </div>
        
      <div class="alinear">
          <h3 >Mis eventos</h3>

          <p>Todavia no has agregado eventos, para hacerlo hace <span style="font-family: Signika;"><a href="" class="linksP"> click</a></p> </span>
     </div>
</div>

<!--INICIO MODAL DEL FORMULARIO-->
<div>
  <input type="submit" class="botonPerfil" value="Editar Perfil" onclick="perfilVisible()"/>
  <i onclick="perfilVisible()"></i>
</div>

<div class="perfilExpandido">
  <i onclick="perfilInvisible()"></i>
  <label for="cerrar" class="botonCerrar" onclick="perfilInvisible()">X</label>
  <h3 class="centrarTexto" style="margin: 2rem 0 3.5rem 0">Edita tu perfil</h3>
  <div>
    <form action="/" method="post" class="formularioMini">
      
      <div>
        <label>
          Nombre del refugio
        </label>
        <input type="text" placeholder="Nombre del refugio" name="nameRef" autofocus/>
      </div>

      <div>
        <label>
          Departamento
        </label>
        <input type="text" placeholder= "Departamento" name="departamento"/>
      </div>
      
      <div>
        <label>
          Ciudad
        </label>
        <input type="text" placeholder= "Ciudad" name="ciudad"/>
      </div>  

      <div>
        <label>
          Barrio
        </label>
        <input type="text" placeholder="Barrio" name="barrio"/>
      </div>

      <div>
        <label>
          Dirección 
        </label>
        <input type="text" placeholder="Dirección" name="direccion"/>
      </div>
              
      <div>
        <label>
          Telefono fijo de contacto
        </label>
        <input type="tel" placeholder="Telefono de contacto" name="telcontactoFijo"/>
      </div>

      <div>
        <label>
          Telefono celular de contacto
        </label>
        <input type="tel" placeholder="Celular de contacto" name="telcontacto"/>
      </div>
       
       <div>
         <label>
           Nombre del repsonsable a contactar
         </label>
         <input type="text" placeholder="..." name="responsableContacto" required/>
       </div>

       <div>
          <label>
            Horiarios de atención
          </label>
          <p> Desde <input type="time" name="horaInicio" required/> hasta <input type="time" name="horaFinal" required/> </p>
        </div>        
        
    <div>
      <label>
        Elegi los animales aceptados en el refugio
      </label>
      <ul>
      <p>
      <input type="radio" name="perros" value="perros" class="multiplechoice">Perros <br>
      <input type="radio" name="gatos" value="gatos" class="multiplechoice">Gatos <br>

      <input type="radio" name="caballos" value="caballos" class="multiplechoice">Caballos <br>
      <input type="radio" name="otros" value="otros" class="multiplechoice" id="mostrar">Otros <br>
      </p>
    </ul>
    </div>
     
    <div id="otrosA">
      <label>
        Otros animales aceptados en el refugio:
      </label>
      <input type="text" placeholder="Especifica que otros animales son aceptados" name="otrosAceptados" />
    </div>

    <div>
        <label>
          Realiza una pequeña descripción del refugio
        </label>
        <textarea name="descripcion" rows="3" cols="30" maxlength="3000" placeholder=Describí el refugio></textarea>
    </div>

    <div>
      <label>Subi fotos de tu refugio:</label>
      <input type="file" id="img" name="img" accept="image/*" class="inputfile" data-multiple-caption="{ count } files selected" multiple />
      </div>
    
     <div>
        <label>
          Sitio Web
        </label>
        <input type="url" name="url" placeholder="Sitio Web" size="40"/>
      </div>

    <div>
      <label>
        Email 
      </label>
      <input type="email" placeholder="Email" name="emailRef"/>
    </div>
    
    <div>
      <label>
        Contraseña
      </label>
      <input type="password" placeholder="Contraseña" name="contrRef" minlength="8"/>
    </div>
    
    <button type="submit" class="BotonRegistro" onclick="perfilInvisible()">Guardar cambios</button>
    </div>
  </form>
</div>
<!--FIN MODAL DEL FORMULARIO-->
  </main>

  <footer>
    <p>Página realizada en el marco del Proyecto B_it de la Cámara Uruguaya de Tecnología e Información</p>
    <p>2020</p>
   </footer>
</body>
</html>
