<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css' ) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css' ) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css' ) }}">
</head>

<body>
    <header class="header-site" style="position: sticky; top: 0; z-index: 10;">
        <div class="logo">
            <a href="/"><h2>Animalis Amicis</h2></a>
        </div>
        <div class="redes-sociales">
            <div>
                <a href="http://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
                <a href="http://twitter.com"><i class="fab fa-twitter"></i></a>
                <a href="http://instagram.com"><i class="fab fa-instagram"></i></a>
            </div>
            <div>
                <a href="http://pinterest.com"><i class="fab fa-pinterest-p"></i></a>
                <a href="http://youtube.com"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
        <div class="botonesHeader">
            <ul class="navMenu">
                <li>
                    <a href="">Refugios</a>
                    <ul class="subMenu">
                        <li><a href="">Refugios de Canes</a></li>
                        <li><a href="">Refugios de Felinos</a></li>
                        <li><a href="">Refugios Mixtos</a></li>
                        <li><a href="">Mapa de Refugios</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">Funcionamiento</a>
                </li>
                <li>
                    <a href="">Consejos</a>
                    <ul class="subMenu">
                        <li><a href="">Adoptar un perro</a></li>
                        <li><a href="">Adoptar un gato</a></li>
                        <li><a href="">Adoptar otros</a></li>
                        <li><a href="">Refugios</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">Social</a>
                    <ul class="subMenu">
                        <li><a href="">Facebook</a></li>
                        <li><a href="">Twitter</a></li>
                        <li><a href="">Instagram</a></li>
                        <li><a href="">Youtube</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">Contacto</a>
                </li>
            </ul>
            <div class="loginHeaderDesktop">
                {% if nombre == "" %}
                <p onclick="visibleLogin()">Login/Singup {{ nombre }}</p>
                <i onclick="visibleLogin()" class="fas fa-user"></i>
                {% else %}
                <a style="color: rgb(255, 255, 255); text-decoration: none;" href="/profile">
                <p>{{ nombre }}</p>
                </a>
                {% endif %}
            </div>
        </div>
    </header> <!-- FIN DEL HEADER -->
    <div class="raPortada">
        <img style="width: 100%; height: 100%; top: 0; left: 0;" src="{{url_for('static', filename='image/familiaOpción2.jpg')}}" alt="">
        <h1>Encuentrale a tu mascota un cariñoso hogar</h1>
        <img style="width: 7.5rem; height: 9rem; position: absolute; top: 75%; left: 50%; transform: translateX(-50%);" src="{{ url_for('static', filename='image/scrollDownWhite.png' ) }}" alt="">
    </div>

    <section class="formulario" id="formularioScroll">
        <h4 style="font: 700 5rem 'Open Sans'; color: rgb(58, 56, 56); text-align: center;">Complete el formulario</h4>
        <form  class="registrosFormularios" action="/insertPet">
            <div class="registrosCampos">
                <label for="nombre">¿Cual es el nombre de su mascota?</label>
                <input class="registroInput" name="name" type="text" placeholder="Nombre de tu mascota">
            </div>
            <div class="registrosCampos">
                <label for="genero">¿A que genero pertentece tu mascota?</label>
                <select name="genero" id="Genero">
                    <option value="Elija" selected>Elija uno</option>
                    <option value="Macho">Macho</option>
                    <option value="Hembra">Hembra</option>
                </select>
            </div>
            <div class="registrosCampos">
                <label for="especie">¿De que especie es su mascota?</label>
                <select name="especie" id="Especie" onchange="poblar(this.id, 'Raza')">
                    <option value="Elija" selected>Elija uno</option>
                    <option value="Perros">Perros</option>  <!-- yo los dejaria en singular (se esta registrando un animal no barios) -->
                    <option value="Gatos">Gatos</option>
                    <option value="Otros">Otros</option>
                </select>
            </div>
            <div class="registrosCampos">
                <label id="textoRaza" for="raza">Escoja una especie primero</label>
                <select name="raza" id="Raza"></select>
            </div>
            <div class="registrosCampos">
                <label for="edad">¿Cual es la edad de tu mascota?</label>
                <select name="edad" id="">
                    <option value="Elija" selected>Elija uno</option>
                    <option value="Cachorro">Cachorro</option>
                    <option value="Joven">Joven</option>
                    <option value="Adulto">Adulto</option>
                    <option value="Mayor">Mayor</option>
                </select>
            </div>
            <div class="registrosCampos">
                <label for="castracion">¿Está su mascota castrada?</label>
                <select name="castracion" id="">
                    <option value="Elija" selected>Elija uno</option>
                    <option value="Castrado">Si</option>
                    <option value="NoCastrado">No</option>
                </select>
            </div>
            <div class="registrosCampos">
                <label for="enfermedades">¿Está su mascota enferma o lisiada?</label>
                <select name="enfermedades" id="">
                    <option value="Elija" selected>Elija uno</option>
                    <option value="No">No</option>
                    <option value="Ciego">Mi mascota es ciega</option>
                    <option value="Sordo">Mi mascota es sorda</option>
                    <option value="Lisiado">Mi mascota sufre una discapacidad</option>
                    <option value="Enfermo">Mi mascota está actualmente enferma</option>
                </select>
            </div>
            <div class="botonImagen">
                <p>Sube una imagen de tu mascota</p>
                <div class="botonImagen2">
                    <input type="file" name="img" id="botonOriginal" accept="image/jpeg, image/png" hidden />
                    <button type="button" id="botonFalso">Escoja un archivo</button>
                    <p style="text-align: center" id="infoBoton">Aun sin subir</p>
                </div>
            </div>
            <div class="registrosCampos">
                <label for="comentarios">Describe brevemente a tu mascota</label>
                <textarea name="comentarios" id="" cols="99" rows="1" placeholder="Escribe aquí"></textarea>
            </div>
            <div class="botonEnviar">
                <input class="registrosBoton" type="submit" value="¡Enviar!">
            </div>
        </form>
    </section>

    <footer>
        <p>Página realizada en el marco del Proyecto B_it de la Cámara Uruguaya de Tecnología e Información</p>
        <p>2020</p>
    </footer>

</body>
<script src="{{ url_for('static', filename='registroJS.js' ) }}"></script>
</html>
