html {
    font-size: 62.5%;
    background-color: #f7f4f4;
}

h1 {
    font-size: 4.8rem;
}
h2 {
    font-size: 4.4rem;
}
h3 {
    font-size: 4.0rem;
}
h4 {
    font-size: 3rem;
}

/* GLOBAL */

.contenedor {
    width: 95%;
    margin: auto;
}

.marginTop {
    margin-top: 0;
}
/* UTILIDADES */

.centrarTexto {
    text-align: center;
}

/* HEADER */

.header-site {
    display: flex;
    background-image: url(/Animalicis/static/image/manAndDog.jpg);
    height: 10rem;
    background-position: 0 -2rem;
    background-size: cover;
    align-items: center;
    border-radius: 4rem;
}

.header-site h2 {
    font-size: 3.5rem;
    margin: 0;
    color: #ffffff;
    padding-left: 1rem;
}

.logo {
    flex-basis: 50%;
}
.logo a {
    text-decoration: none;
}

.redes-sociales {
    display:flex;
    flex-direction: column;
    flex-basis: 50%;
    text-align: center;
    font-size: 2.5rem;
}
.redes-sociales a {
    color: #ffffff;
    padding-right: 2rem;
}
@media(min-width: 768px) {
    .header-site {
        background-image: none;
        background-color: rgb(36, 34, 34);
        background-position: 0rem 12.5rem;
        border-radius: 0;
        height: 5rem;
    }
    .logo {
        flex-basis: 18%;
    }
    .logo h2 {
        font-size: 3rem;
    }
    .redes-sociales {
        display: none;
    }
    .redes-sociales a {
        padding-right: 3rem;
    }
}

.botonesHeader {
    display: none;
}
@media(min-width: 768px) {
    .botonesHeader {
        display: flex;
        width: 100rem;
        background-color: rgb(36, 34, 34);
    }
    .navMenu {
        display: flex;
        width: 100%;
        font-family: "Inconsolata";
        margin: 0;
        justify-content: space-around;
    }
    .navMenu li {
        list-style: none;
        width: 100%;
        text-align: center;
        padding: 1.3rem 1.5rem;
        cursor: pointer;
        transition-duration: 700ms;
    }
    .navMenu li a {
        font-size: 2.2rem;
        color: rgb(255, 255, 255);
        text-decoration: none;
    }
    .navMenu li a:hover {
        color: #000;
    }
    .navMenu li:hover {
        background-color: #FFFB75;
    }
    .loginHeaderDesktop {
        display: flex;
        font-size: 1.8rem;
        margin: 1.4rem 0 0 5rem;
        color: #fff;
        cursor: pointer;
    }
    .loginHeaderDesktop p {
        margin: 0 1rem;
    }
    .subMenu {
        display: none;
        position: absolute;
        padding: 0;
        z-index: 40;
    }
    .subMenu li {
        background-color: rgb(36, 34, 34);
        position: relative;
        top: 1.2rem;
        left: -1.5rem;
        padding: 1.5rem 1.5rem;
    }
    .navMenu li:hover .subMenu {
        display: block;
    }
}

/* MAIN */

/* INTROS */

.presentacionGrilla {
    display: none;
}
@media(min-width: 768px) {
    .presentacionGrilla {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
        width: 90%;
        margin: 2.3rem auto 2.5rem auto;
        border-radius: 2rem;
        box-shadow: .2rem .3rem .5rem .3rem rgba(0, 0, 0, 0.507);
    }
    .presentacionTerceto {
        position: relative;
    }
    .presentacionTerceto:nth-of-type(1) {
        background-color: #FFA8AE;
        border-top-left-radius: 2rem;
        border-bottom-left-radius: 2rem;
    }
    .presentacionTerceto:nth-of-type(2) {
        background-color: #8FD7FF;
    }
    .presentacionTerceto:nth-of-type(3) {
        background-color: #FFFB75;
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
    }
    .presentacionTerceto h4 {
        font-family: "Signika";
        margin: 2rem;
    }
    .presentacionTerceto p {
        font-size: 2rem;
        padding: 0 3rem;
    }
}

/* FIN DE INTROS */



.log-menu {
    display: flex;
    width: 95%;
    margin: auto;
    margin-top: 1rem;
}
@media(min-width: 900px) {
    .log-menu {
        display: none;
    }
}

.login {
    width: 50%;
    display: flex;
}

.menu {
    display: flex;
    width: 50%;
}

.menu-p {
    width: 60%;
    font-size: 2rem;
    font-family: 'Sriracha', cursive;
    padding-left: 0rem;
}

.menu-p p:hover {
    cursor: pointer;
}

.parrafo-login {
    width: 60%;
    font-family: 'Sriracha', cursive;
    font-size: 2rem;
}
.parrafo-login p:hover {
    cursor: pointer;
}

.iconos {
    width: 50%;
    color: #6dbd7e;
    font-size: 3.5rem;
    text-align: center;
    padding-top: 1rem;
    cursor: pointer;
}
@media(min-width: 900px) {
    .iconos {
        display: flex;
        flex: 0 0 10rem;
        color: #fff;
    }
}

/* MENU EMERGENTE */

.menuEmergente {
    position: fixed;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background-image: url(/Animalicis/static/image/fondoMadera.jpg);
    background-position: -18rem;
    transition-duration: 800ms;
    transition-property: all;
    z-index: 10;
}
.menuEmergente i {
    cursor: pointer;
}

.contraer {
    position: absolute;
    color: rgba(0, 0, 0, 0.829);
    top: 2rem;
    left: 85%;
    font-size: 4rem;
}
.menuEmergente ul {
    padding: 0 3rem ;
}
.menuEmergente ul li {
    list-style: none;
    margin-top: 5rem; 
}
.menuEmergente ul li span {
    font-size: 3rem;
    font-family: "Inconsolata";
    font-weight: 700;
}
.menuEmergente ul li a {
    position: relative;
    font-size: 2.3rem;
    font-weight: 500;
    color: rgb(0, 0, 0);
    font-family: 'Sriracha', cursive;
    text-decoration: none;
}
.menuEmergente ul li a:after {
    position: absolute;
    content: "";
    width: 25rem;
    height: .23rem;
    background-color: #000;
    top: 5.8rem;
    left: 0rem;
}

/* FIN MENU EMERGENTE */

/* LOGIN */

.loginExpandido {
    display: block;
    position: fixed;
    width: 0%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #e7e5e5;
    transition-duration: 800ms;
    transition-property: all;
    z-index: 20;
}

.loginExpandido i {
    cursor:pointer;
}

.botonesLogin {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}
.botonesLogin button {
    font-size: 1.5rem;
    margin-bottom: 3rem;
    padding: .8rem;
    border-radius: 1rem;
    background-color: #ffff;
}
.botonesLogin button img {
    width: 20rem;
}

.boxIntermedia {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    background-color: #fff;
    border-radius: 1rem;
    border: .3rem groove;
}
.boxIntermedia div {
    font-family: "Sriracha";
    font-size: 1.6rem;
    width: 80%;
    margin: 1.5rem auto;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.boxIntermedia div input {
    padding: .8rem;
    border-radius: .5rem;
    border-style: ridge;
}

.botonSubmit {
    width: 80%;
    margin: 1rem auto 1.5rem auto;
    padding: 1rem;
    font-size: 1.6rem;
    background-color: rgb(115, 145, 201);
    border-radius: 1rem;
}

.enlacesLogin a:first-of-type {
    margin-bottom: 1rem;
}

/* FIN LOGIN */

.contenedor-buscadores {
    background-color: rgb(125, 181, 245);
    border-radius: 2rem;
    box-shadow: .2rem .3rem .5rem .3rem rgba(0, 0, 0, 0.507);
}
@media(min-width: 768px) {
    .contenedorSuperior {
        display: grid;
        grid-template-columns: 2.8fr 1fr;
        grid-template-rows: 45rem;
        column-gap: 3rem;
        width: 85%;
        margin: 3rem auto;
    }
    .contenedor-buscadores {
        display: grid;
        grid-template-columns: 2fr 1fr;
        background-image: none;
        background-color: #8FD7FF;
    }
}

/* GRILLA DE BUSQUEDA */

.busquedaContenedor {
    width: 95%;
    margin: 0rem auto;
}

.busquedaAnimales {
    display: grid;
    width: 95%;
    margin: auto;
    grid-template-columns: 1.9fr 1.1fr;
    column-gap: 3rem;
}

.busquedaInterna {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(auto-fill, 34rem);
    row-gap: 2rem;
    column-gap: 2rem;
}

.animalesGrilla {
    display: grid;
    grid-template-rows: 22rem 8rem;
    padding: .7rem;
    background-color: #fff;
    box-shadow: .0rem .0rem .5rem rgba(0, 0, 0, 0.445);
    border-radius: 1rem;
}

.animalesImagen {
}
.animalesImagen img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.animalesInferior {
    display: grid;
    margin-top: .5rem;
    grid-template-rows: .8fr 1fr;
}
.animalesInferior span {
    font-family: "Signika";
    font-size: 2rem;
    font-weight: 700;
}
.animalesInferior p {
    font-family: "Roboto";
    vertical-align: baseline;
    font-size: 1.6rem;
    margin: 0;
}

.busquedaTitulo {
    font-size: 4rem;
    font-family: "Open Sans";
    color: #3A3838;
    text-align: left;
    margin: 5rem 5%;
}

.cajaConsejos {
    background-color: #FFFB75;
    border-radius: 2rem;
    box-shadow: .0rem .0rem .5rem rgba(0, 0, 0, 0.445);
}

.cajaConsejos h4 {
    font-family: "Signika";
    text-align: center;
    margin: 2.5rem 0 4.5rem 0;
    color: #fff;
    text-shadow: .1rem .1rem .2rem rgb(0, 0, 0);;;
}

.cajaConsejos ol {
    padding-right: 1.5rem;
}

.cajaConsejos li {
    position: relative;
    font-size: 1.6rem;
    font-family: "Open Sans";
    margin: 4rem 0;
    padding: 2rem;
    background-color: #fff;
    border-radius: 1rem;
    line-height: 1.5;
    box-shadow: 0.4rem 0.4rem 0.6rem rgba(0,0,0,0.05);
    list-style: none;
}
.cajaConsejos li::before {
    position: absolute;
    top: -3rem;
    left: -3rem;
    content: "";
    width: 5rem;
    height: 5rem;
    border-radius: 1rem;
    border-bottom-right-radius: 0;
    color: #FFA8AE;
    background-color: #FFA8AE;
}
.cajaConsejos li p {
    position: absolute;
    color: #fff;
    font-size: 3rem;
    text-shadow: .1rem .1rem .2rem rgb(0, 0, 0);;
    top: -5.9rem;
    left: -1.5rem;
}

/* PANEL DE BUSQUEDA */

.contenedorForm {
    display: grid;
    grid-template-columns: 1fr 2.2fr 1.3fr .5fr;
    background-color: #8FD7FF;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    box-shadow: 0rem .3rem .2rem rgba(0, 0, 0, 0.384);
}

.formImagen {
    position: relative;
}
.formImagen img {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.formSelect {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.formSelectInterno {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.formBotones {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.formBoton {
    position: relative;
}
.formBoton button {
    position: absolute;
    width: 85%;
    height: 85%;
    background-color: #FFFB75;
    border-radius: 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.formBoton button img {
    width: 80%;
}

.selectores2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 1rem;
    margin: 1rem 1rem 0 1rem;
    padding-left: 1rem;
}

.panelNoDisponible {
    display: none;
    height: 90%;
    width: 90%;
    background-color: #FFFB75;
    border-radius: 2rem;
}
.panelNoDisponible h4 {
    font-family: "Signika";
    text-align: center;
}

.entrada-usuarios2 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
div.entrada-usuarios2 select {
    font-family: 'Sriracha', cursive;
    font-size: 1.8rem;
    padding: .7rem;
    border-radius: 1rem;
    border: none;
    margin: 1.2rem auto;
    background-color: #fffefe;
    width: 95%;
}
.barra-search2 {
    text-align: center;
}
.barra-search2 input {
    font-size: 1.8rem;
    font-family: 'Sriracha', cursive;
    width: 95%;
    border-radius: 1rem;
    border-style: none;
    align-content: center;
    padding: 1.4rem 1.2rem;
    margin: 1.2rem auto;
}
.botones2 {
    font-family: "Inconsolata";
    font-weight: 700;
    font-size: 1.8rem;
    height: 78%;
    padding: .8rem;
    border-radius: .5rem;
    background: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    color: #000;
    background-color: #8FD7FF;
}
.botones2:focus {
    outline: none;
}
.botones2:hover {
    color: #000;
    background: #FFA8AE;
    border-radius: 50% 50% 0 0;
    transition: 800ms;
}
.contenedor-buscar2 {
    margin-top: 1rem;
    text-align: center;
}
.botonBuscar2 {
    width: 95%;
    padding: 1rem;
    font-size: 1.6rem;
    font-family: "Sriracha";
    border: .1rem groove #fff;
    border-radius: 1rem;
    background-color: #FFFB75;
    transition-property: all;
    transition-duration: 500ms;
}
.botonBuscar2:hover {
    background-color: rgb(255, 248, 38);
    box-shadow: inset 0 -.4rem rgba(0, 0, 0, 0.5);
}



.selectores {
    display: flex;
    justify-content: space-around;
    margin: 2rem 0;
}

@media(max-width: 480px) {
    .selectores {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
        margin: 1rem;
    }
    .selectores button {
        margin-top: 1rem;
    }
}
.botones {
    font-family: "Inconsolata";
    font-weight: 700;
    font-size: 2rem;
    padding: 1rem 2rem;
    border-radius: .5rem;
    background: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    color: #000;
    background-color: #8FD7FF;
}
.botones:focus {
    outline: 0;
}

.botones:hover {
    color: #000;
    background: #FFA8AE;
    border-radius: 50% 50% 0 0;
    transition: 800ms;
}

.botonesActivos {
    color: #000;
    background: #FFA8AE;
    border-radius: 50% 50% 0 0;
}

.selectores span {
    font-size: 3rem;
    color: #ffffff;
    background-color: rgba(253, 253, 253, 0.089);
    border-radius: 1rem;
    padding: .5rem;
}

.barra-search {
    text-align: center;
    margin: 1.5rem 0;
}
.barra-search input {
    font-size: 2rem;
    font-family: 'Sriracha', cursive;
    width: 95%;
    border-radius: 1rem;
    border-style: none;
    align-content: center;
    padding: 2rem 1.5rem;
}

.entrada-usuarios {
    display: flex;
    justify-content: space-between;
}
div.entrada-usuarios select {
    font-family: 'Sriracha', cursive;
    font-size: 2rem;
    width: 45%;
    padding: 1.5rem;
    border-radius: 1rem;
    border: none;
    margin: 1.2rem auto;
    background-color: #ffffffd3;
}

@media(max-width: 400px) {
    .entrada-usuarios {
        flex-direction: column;
    }
    div.entrada-usuarios select {
        width: 95%;
    }
}

.contenedor-buscar {
    margin-top: 2rem;
    text-align: center;
}
.botonBuscar {
    width: 95%;
    margin: 0 0 3rem 0;
    padding: 1.5rem;
    font-size: 2rem;
    font-family: "Sriracha";
    border: .1rem groove #fff;
    border-radius: 1rem;
    background-color: #FFFB75;
    transition-property: all;
    transition-duration: 500ms;
}
.botonBuscar:hover {
    background-color: rgb(255, 248, 38);
    box-shadow: inset 0 -.4rem rgba(0, 0, 0, 0.5);
}


.imagenBuscador {
    position: relative;
}
.imagenBuscador img{
    position: absolute;
    border-bottom-right-radius: 2rem;
    width: 100%;
    bottom: 0;
}

@media screen and (max-width: 768px) {
    .imagenBuscador {
        display: none;
    }
}

/* Fin De Buscadores */

/* Comienzo Entradas de Blog */

.blogEntrada {
    display: none;
}

@media(min-width: 768px) {
    .blogEntrada {
        display: grid;
        grid-template-rows: 40% 45% 15%;
        border-radius: 1rem;
        box-shadow: .2rem .3rem .5rem .3rem rgba(0, 0, 0, 0.507);
    }
}

.imagenBuscador2 img {
    width:20%;
    border-radius: 2rem;
}

.blogSuperior {
    background-size: cover;
    border-radius: 1rem 1rem 0 0;
    text-align: center;
}

.blogSuperior h4 {
    font-family: "Signika";
    margin: 2.1rem 0;
}
.blogSuperior p {
    font-size: 1.5rem;
    margin: 1rem 0;
    font-family: "Montserrat";
}

.blogIntermedio {
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding-top: 1rem;
}
.blogIntermedio a {
    text-decoration: none;
    color: #000;
}
.blogIntermedio h5 {
    font-family: "Signika";
    font-size: 2.5rem;
    margin: 1.8rem 0 2.5rem 0;
}
.blogIntermedio p {
    font-size: 1.6rem;
    font-family: "Montserrat";
    margin: 1rem 2rem;
}

.blogInferior {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.blogDatos:nth-of-type(1){
    background-color: #FFA8AE;
    border-bottom-left-radius: 1rem;
}
.blogDatos:nth-of-type(2){
    background-color: #8FD7FF;
}
.blogDatos:nth-of-type(3){
    background-color: #FFFB75;
    border-bottom-right-radius: 1rem;
}
.blogDatos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.blogValor {
    font-size: 1.8rem;
    font-weight: 500;
}

.blogEtiqueta {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: .5rem;
    text-transform: uppercase;
}


.blogSeparador {
    border-left: .1rem solid rgb(255, 255, 255);
    border-right: .1rem solid rgb(255, 255, 255);
}

@media(min-width: 768px) {
    .blogAside {
        display: grid;
        grid-template-rows: repeat(auto-fill, 45rem);
        row-gap: 3rem;
    }
}

/* Parte del Medio */

.medioGrilla {
    display: grid;
    grid-template-columns: 2.8fr 1fr;
    column-gap: 3rem;
    width: 85%;
    margin: 3rem auto;
}

.medio1 {
    display: grid;
    grid-template-columns: 1fr 3.5fr;
    background-color: #8FD7FF;
    border-radius: 2rem;
    box-shadow: .2rem .3rem .5rem .3rem rgba(0, 0, 0, 0.507);
}
.medio1 h4 {
    font-size: 3rem;
    font-family: "Signika";
    text-align: center;
    margin: 1.2rem 0 1.8rem 0;
}
.adopcionGrilla {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.medio1 li {
    position: relative;
    font-size: 1.8rem;
    line-height: 1.2;
    margin: 0 1rem 1rem 0rem;
    list-style: none;
}
.medio1 li:before {
    position: absolute;
    content: "\2b50";
    left: -3rem;
}

.medioAdopcion {
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}
.medioAdopcion p {
    text-align: center;
    font-size: 1.9rem;
    margin: 0 3rem 1rem 0;
}
.medioActivismo {
    padding: 0 4rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.medioImagen {
    position: relative;
}
.medioImagen img {
    position: absolute;
    left: -3rem;
    top: 1rem;
    width: 24rem;
}

.medio2 {
    background-image: url(/Animalicis/static/image/shelter2.png);
    background-size: cover;
    border-radius: 2rem;
    box-shadow: .2rem .3rem .5rem .3rem rgba(0, 0, 0, 0.507);
}

/* Fin Parte del Medio */


/* Grilla Mascotas */

@media(min-width: 768px) {
    .grillaExterior {
        display: grid;
        grid-template-columns: 2.8fr 1fr;
        column-gap: 3.5rem;
        width: 80%;
        margin: 4rem auto;
    }
    .grillaSuperior {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 3.5rem;
        row-gap: 3rem;
    }
}

.grillaIntermedia {
    display: grid;
    width: 100%;
    margin: auto;
    grid-template-columns: 30% 70%;
    border: .4rem solid #ffffff;
    border-radius: 1.5rem;
    box-shadow: .5rem .5rem 1rem rgba(0, 0, 0, .50);
    margin-bottom: 3rem;
}

.imagen img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}

.descripcionMascota h4 {
    font-size: 2.5rem;
    margin: .5rem;
}

.grillaInterna {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #fff;
}
.grillaInterna > div:nth-child(3n+1) {
    background-color: #6dbd7e;
}
.grillaInterna p {
    font-size: 1.9rem;
    font-family: "Sriracha";
    margin: 1rem;
}
.textoGrillaInterna:last-of-type {
    border-bottom-right-radius: 1rem;
}

/* SIGN UP */
  .botonesSignUp {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
  }

  .SignUpmini {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}
.SignUpmini div {
    font-family: "Sriracha";
    font-size: 1.6rem;
    width: 50%;
    margin: 1.5rem auto;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.SignUpmini div:last-of-type {
    margin-top: 0rem;
}
.SignUpmini div input {
    padding: .8rem;
}

.BotonRegistro {
    width: 30%;
    margin: 1.5rem auto 3rem auto;
    padding: 1rem;
    font-size: 2rem;
    background-color: rgb(115, 145, 201);
    
}

.links {
    font-size: medium;
    margin-right: 2.5em;
    text-align: center;
}

/* TIPOS DE CUENTA */

.boxCuenta {
    width: 90%;
    margin: 1rem auto 4rem auto;
    border-radius: 1rem;
    background-color: rgb(228, 118, 118);
    box-shadow: .6rem .6rem 1rem
}
.portadaCuenta img {
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.boxCuenta h4 {
    font-family: "Inconsolata";
    margin: 1.5rem 
}
.boxCuenta p {
    padding: 0 2rem;
    font-family: "Inconsolata";
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
}

.grillaCuenta {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 25% 70%;
    text-align: center;
    font-size: 1.8rem;
    font-family: "Inconsolata";
    font-weight: 700;
    margin-top: 1rem;
}

.boxCuenta button {
    margin: 1.5rem 0 0 0;
    padding: 1.8rem;
    width: 100%;
    font-size: 2rem;
    font-family: "Inconsolata";
    font-weight: 700;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border: none;
    background-color: rgba(34, 93, 202, 0.815);
    cursor: pointer;
}

/* FOOTER */


/* MOLDE ARTÍCULOS */

.stickyBar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.articuloInfo {
    text-align: center;
    height: 18rem;
    background: url(/Animalicis/static/image/articuloInfo.jpg);
    background-size: cover;
    background-position: 0rem -20rem;
}
.articuloInfo h4 {
    font: 5rem "Permanent Marker";
    margin: 0;
    padding-top: 5rem;
    text-shadow: .2rem .2rem #fff;
}

.articuloTitulo {
    font: bold 6.4rem "Open Sans", Helvetica;
    text-align: center;
    margin: 5rem 0;
}

.articuloIntroduccion {
    width: 80%;
    margin: auto;
    font: 500 2rem/1.8 "Open Sans", Helvetica;
    text-align: center;
}

.moldeArticulo {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin: 5rem 0;
}

.articuloImgP {
    position: relative;
}
.articuloImgP img {
    position: absolute;
    left: 0;
    width: 90%;
}

.articuloImgG {
    position: relative;
}
.articuloImgG img {
    position: absolute;
    right: 0;
    width: 55%;
}

.articuloTexto {
    font: 2rem "Open Sans", arial;
}

/* FIN MOLDE ARTÍCULOS */


/* REGISTRO ANIMALES */

.raPortada {
    position: relative;
    width: 100%;
    height: 95vh;
    text-align: center;
    background-image: url(/Animalicis/static/image/familiaOpción2.jpg);
    background-size: cover;
}
.raPortada h1 {
    position: absolute;
    color: #fff;
    font-family: "Open Sans";
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .3rem .3rem 0 #000;
    margin: 0;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.registroScroll {
    position: relative;
}
.raPortada img {
    position: absolute;
    width: 5rem;
    top: 75%;
    transform: translateX(-2.5rem);
}

.registrosFormularios {
    display: flex;
    flex-direction: column;
}

.formulario {
    width: 85%;
    padding-top: 3rem;
    margin: auto;
    font-family: "Open Sans";
}
.formulario h4 {
}

.registrosCampos {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 5rem;
}
.registrosCampos label {
    line-height: 2;
    font-size: 2.6rem;
    font-weight: 700;
    color: rgb(58, 56, 56);
}
.registrosCampos select {
    font-size: 1.6rem;
    padding: 1.3rem;
}

.registroInput {
    font-size: 1.6rem;
    font-family: "Open Sans";
    padding: 1.3rem;
    border: .1rem solid #000;
}

.botonImagen {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 5rem;
}
.botonImagen p {
    line-height: 2;
    font-size: 2.6rem;
    font-weight: 700;
    margin: 0;
    color: rgb(58, 56, 56);
    cursor: default;
}

.botonImagen2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.botonImagen2 button {
    font-size: 1.6rem;
    padding: 1.3rem;
    background-color: #fff;
}

.registrosCampos textarea {
    font-size: 1.6rem;
    padding: 1.6rem 1.3rem 1rem 1.3rem;
    font-family: "Open Sans";
}

.botonEnviar {
    text-align: right;
}

.registrosBoton {
    font-size: 2rem;
    width: 20rem;
    padding: 1rem;
    background-color: #FFA8AE;
}

/* FIN REGISTRO ANIMALES */

/* PERFIL ANIMAL */

@font-face {
    font-family: "Bernardette";
    src: url(/static/customFonts/bernadette.ttf);
    font-style: normal;
    font-weight: 700;
}

.perfilDivisiones {
    display: grid;
    grid-template-rows: repeat(3, 50rem);
}

.perfilEncuentro {
    background-image: url(/static/image/perfilEncuentro2.jpg);
    background-size: cover;
    background-position: 0 -25rem;
}
.perfilEncuentro h4 {
    font: 700 10rem Bernardette;
    text-align: center;
    margin-top: 16rem;
    text-shadow: .2rem .2rem #000;
    color: rgb(250, 115, 124);
}

.perfilDatos {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 90%;
    margin: auto;
    background-color: #fff;
}

.datosImg img{
    position: absolute;
    max-height: 40rem;
    max-width: 40rem;
    top: 0;
    left: 0;
    bottom: 0;
    margin:auto;
}


.datosDatos {

}

.perfilDescripcion {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 90%;
    margin: auto;
    background-color: rgb(53, 166, 226);
}

.descripcionDescripcion {

}

.descripcionImg img{
    position: absolute;
    max-height: 40rem;
    max-width: 40rem;
    top: 0;
    right: 0;
    bottom: 0;
    margin:auto;
}
/* FIN DE PERFIL ANIMAL */

footer {
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 6rem;
    background-color: gray;
    padding: 2rem 0;
   }